{{!-- Masonry item --}}
<div class="masonry-post">
  {{!-- Masonry image --}}
  {{#if feature_image}}
    <a class="masonry-post__image" href="{{url}}">
      <img src="{{image}}" class="lazyload blur img-responsive" alt="{{title}}">
    </a>
  {{/if}}
  
  <div class="masonry-post__content">
    {{!-- Masonry title --}}
    <h2 class="masonry-post__title"><a href="{{url}}">{{title}}</a></h2>
    {{!-- Masonry post author --}}
    <p class="masonry-post__author">{{author}}</p>
    {{!-- Masonry post tags (limit 5) --}}
    {{#if tags}}
      <p class="masonry-post__tags">#{{tags limit=5 separator=" #"}}</p>
    {{/if}}
    {{!-- Masonry post excerpt --}}
    <p class="masonry-post__excerpt">{{excerpt words="20"}}&hellip;</p>

    <div class="masonry-post__more clearfix">
      <div class="text-center">
        {{!-- Read more button --}}
        <a href="{{url}}" class="read-more">Read More</a>
      </div>
      <hr>
      <div class="pull-left">{{date}}</div>
      <div class="pull-right">
        {{!-- Post share --}}
        <div class="masonry-post-share"><i class="fa fa-share-alt"></i></div>					
        <div class="masonry-post-share__social pull-left animated fadeIn">
          <a class="facebook" 
             href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" 
             rel="external" target="_blank">
             <i class="fa fa-facebook-official"></i>
          </a>
          <a class="twitter" 
             href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" 
             rel="external" target="_blank">
             <i class="fa fa-twitter"></i>
          </a>
          <a class="reddit" href="//www.reddit.com/submit?url={{url absolute='true'}}" 
             rel="external" target="_blank">
             <i class="fa fa-reddit"></i>
          </a>
        </div>
        {{!-- Comment count --}}
        <div class="masonry-post-comment-count">
          <i class="fa fa-comments-o"></i>
          <span class="disqus-comment-count" 
                data-disqus-url="{{url absolute='true'}}">0</span>
        </div>
      </div>
    </div>

  </div>

</div>