{{!-- Pagination --}}
<nav class="pagination">
	<a class="first-page" href="{{page_url 1}}"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i></a>
    {{#if prev}}
		<a class="pagination-dots hidden-xs"><i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i></a>
        <a class="previous-page " href="{{page_url prev}}">PREV</a>
    {{/if}}
    <a class="active-page">{{page}}</a>
    {{#if next}}
        <a class="next-page" href="{{page_url next}}">NEXT</a>
    	<a class="pagination-dots hidden-xs"><i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i></a>
    {{/if}}
    <a class="last-page " href="{{page_url pages}}"><i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></a>
</nav>
