{{!-- Links to Previous/Next posts --}}
<div class="read-next animated fadeIn clearfix">
  {{!-- Prevoius Post --}}
  {{#prev_post}}
    <a class="read-next__story prev {{^if feature_image}}no-image{{/if}}" href="{{url}}">
      {{#if feature_image}}
        <div class="lazyload blur read-next__image" data-src="{{img_url feature_image}}" 
            style="background-image: url({{img_url feature_image}})"></div>
      {{/if}}
      <div class="read-next__info">
        <h3 class="read-next__title">{{title}}</h3>
      </div>
    </a>
  {{/prev_post}}

  {{!-- Next Post --}}
  {{#next_post}}
    <a class="read-next__story next {{^if feature_image}}no-image{{/if}}" href="{{url}}">
      {{#if feature_image}}
        <div class="lazyload blur read-next__image" data-src="{{img_url feature_image}}" 
            style="background-image: url({{img_url feature_image}})"></div>
      {{/if}}
      <div class="read-next__info">
        <h3 class="read-next__title">{{title}}</h3>
      </div>
    </a>
  {{/next_post}}
</div>