{{!< default}}

{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}
  <section class="author">
    {{!-- Author cover image --}}
    {{#if cover}}
      <div class="full-page-cover lazyload blur" data-src="{{cover}}" 
           style="background-image: url({{cover}})">
      </div>
    {{/if}}
    <div class="container">
      <div class="author__profile">
        {{!-- Author profile image --}}
        {{#if image}}
          <div class="lazyload blur author__image" data-src="{{image}}" 
               style="background-image: url({{image}})">
          </div>
        {{/if}}
        
        {{!-- Author Name --}}
        <h2 class="author__title">{{name}}</h2>
        {{!-- Author bio --}}
        {{#if bio}}
          <p class="author__bio">{{bio}}</p>
        {{/if}}

        <div class="author-meta">
          {{!-- Author location --}}
          {{#if location}}
            <span class="author-meta__location">
              <i class="fa fa-globe" aria-hidden="true"></i> {{location}}
            </span>
          {{/if}}
          {{!-- Author website --}}
          {{#if website}}
            <span class="author-meta__link">
              <a href="{{website}}">
                <i class="fa fa-link" aria-hidden="true"></i> {{website}}
              </a>
            </span>
          {{/if}}
          {{!-- Author post number --}}
          <span class="author-meta__stats">
            <i class="fa fa-signal" aria-hidden="true"></i>
            {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
          </span>
        </div>

        {{!-- Author social links --}}
        <div class="author-social">
          {{#if twitter}}
          <a class="author-social__link" href="{{twitter_url}}" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <p>Twitter</p>
          </a>
          {{/if}}
          {{#if facebook}}
          <a class="author-social__link" href="{{facebook_url}}" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <p>Facebook</p>
          </a>
          {{/if}}
        </div>
      </div>

      <div class="scroll-wrapper hidden-xs">
        <a class="scroll-down animated bounce" href="#content">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </section>
{{/author}}

{{!-- The main content/post by the author --}}
<section class="latest-posts container" id="content">
	<div class="masonry clearfix" id="grid" data-columns>
	{{#foreach posts}}
    {{> masonry}}
	{{/foreach}}
	</div>
	<div class="masonry-foot text-center">
  	<button id="load-posts" onclick="loadAuthorPosts('{{author.slug}}');" 
            class="uppercase load-more-posts">Load More
    </button>
  </div>
</section>