{{!< default}}

{{!-- The big featured header --}}
{{#get "posts" limit="4" include="author,tags" filter="featured:true" as |featured| }}
  <section class="featured-posts">
    <div id="featured-posts-carousel" class="carousel slide" data-ride="carousel" data-interval="8000">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		  {{#foreach featured}}
		    <li data-target="#featured-posts-carousel" data-slide-to="{{@index}}" class="{{#if @first}}active{{/if}}"></li>
		  {{/foreach}}
		  </ol>
	 		
	 		<div class="carousel-inner">
	 		{{#foreach featured}}
		    <div class="item {{#if @first}}active{{/if}}">
		      <div class="lazyload featured-post-image" 
		      		 data-src="{{#if image}}{{image}}{{/if}}" 
		      		 style="{{#if image}}background-image: url({{image}}){{else}}backgroun-color: #000;{{/if}}">
		      </div>
		      <div class="featured-post-image-overlay"></div>
		    	<div class="featured-post-content">
		    		<div class="container">
		    		  <h6 class="featured-post-tag animated fadeInDown">in {{tags limit="1" separator=""}}</h6>
		      		<h2 class="featured-post-title animated fadeInRight"><a href="{{url}}">{{title}}</a></h6>
							<h6 class="featured-post-author animated fadeInRight">
								by {{author}} |
						    <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at}}</time> |
								<i class="fa fa-comments-o"></i>
								<a href="{{url absolute='true'}}#disqus_thread" class="comments comment-count">0</a>
							</h6>
							<button class="read-more animated fadeInUp">Read More</button>
		      	</div>
		      </div>
		    </div>
	 		{{/foreach}}
		  </div>
	 
		  <!-- Controls -->
		  <div class="carousel-control-wrapper clearfix">
		  <a class="left carousel-control" href="#featured-posts-carousel" role="button" data-slide="prev">
		    <div class="carousel-control-prev">
		    	<i class="fa fa-angle-left"></i>
		    </div>
		  </a>
		  <a class="right carousel-control" href="#featured-posts-carousel" role="button" data-slide="next">
		  	<div class="carousel-control-next">
		    	<i class="fa fa-angle-right"></i>
		    </div>
		  </a>
		  </div>
		</div>
  </section>
{{/get}}

{{!-- The main content area on the homepage --}}
{{#foreach posts}}
  <a href="{{url}}">{{title}}</a><br>
{{/foreach}}

{{!-- Email subscribe form at the main page --}}
