{{!< default}}

{{!-- The big featured header --}}
{{#get "posts" limit="5" 
							 include="author,tags" 
							 filter="featured:true" as |featured| }}
  <section class="featured-posts">
    <div id="featured-posts__carousel" class="carousel slide" 
				 data-ride="carousel" data-interval="8000">

		  {{!-- Indicators --}}
		  <ol class="carousel-indicators featured-posts__indicators">
				{{#foreach featured}}
					<li data-target="#featured-posts__carousel" data-slide-to="{{@index}}" 
							class="{{#if @first}}active{{/if}}"></li>
				{{/foreach}}
		  </ol>
			
			{{!-- Featured post content --}}
	 		<div class="carousel-inner featured-posts__inner">
				{{#foreach featured}}
					<div class="featured-post item {{#if @first}}active{{/if}}">
						{{!-- Featured post image --}}
						<div class="lazyload blur featured-post__image" 
								data-src="{{#if feature_image}}{{img_url feature_image}}{{/if}}" 
								style="{{#if feature_image}}background-image: url({{img_url feature_image}})
											 {{else}}background-color: #000;{{/if}}">
						</div>
						{{!-- Featured post image overlay --}}
						<div class="featured-post__image--overlay"></div>
						<div class="featured-post__content">
							<div class="container">
								{{!-- Featured post tag (set to show only 1) --}}
								<p class="featured-post__tag animated fadeInDown">
									in {{tags limit="1" separator=""}}
								</p>
								{{!-- Featured post title --}}
								<h2 class="featured-post__title animated fadeInRight">
									<a href="{{url}}">{{title}}</a>
								</h2>
								<div class="featured-post__info animated fadeInRight">
									<div class="featured-post__author">{{author}}</div>
									<div class="featured-post__date">
										<time datetime="{{date format="YYYY-MM-DD"}}">
											{{date published_at}}
										</time>
									</div>
									<div class="featured-post__comments">
										<i class="fa fa-comments-o"></i>
										<span class="disqus-comment-count" 
											data-disqus-url="{{url absolute='true'}}">0
										</span>
									</div>
								</div>
								<div class="read-more animated fadeInUp">
									<a class="button button--light" href="{{url}}">Read More</a>
								</div>
							</div>
						</div>
					</div>
				{{/foreach}}
		  </div>

		  {{!-- Controls --}}
		  <div class="featured-posts__control-wrapper clearfix">
				<a class="left carousel-control" href="#featured-posts__carousel" 
					 role="button" data-slide="prev">
					<div class="carousel-control-prev">
						<i class="fa fa-angle-left"></i>
					</div>
				</a>
				<a class="right carousel-control" href="#featured-posts__carousel" 
					 role="button" data-slide="next">
					<div class="carousel-control-next">
						<i class="fa fa-angle-right"></i>
					</div>
				</a>
		  </div>

		</div>
  </section>
{{/get}}

{{!-- Masonry posts --}}
{{#get "posts" include="author,tags" 
							 limit=@config.posts_per_page 
							 filter="featured:false" as |latest| }}
	<section class="latest-posts container">
		<div class="masonry clearfix" id="grid" data-columns>
		{{#foreach latest}}
			{{> masonry}}
		{{/foreach}}
		</div>
		<div class="masonry-foot text-center">
			<button id="load-posts" onclick="loadPosts();" 
				class="uppercase load-more-posts">Load More
			</button>
		</div>
	</section>
{{/get}}

{{!-- Email subscribe form at the main page --}}
{{> subscribe}}
