{{!< default}}

{{!-- The big featured header --}}
{{#get "posts" limit="4" include="author,tags" filter="featured:true" as |featured| }}
  <section class="featured-posts">
    <div id="featured-posts__carousel" class="carousel slide" data-ride="carousel" data-interval="8000">
		  {{!-- Indicators --}}
		  <ol class="carousel-indicators featured-posts__indicators">
		  {{#foreach featured}}
		    <li data-target="#featured-posts__carousel" data-slide-to="{{@index}}" class="{{#if @first}}active{{/if}}"></li>
		  {{/foreach}}
		  </ol>

	 		<div class="carousel-inner featured-posts__inner">
	 		{{#foreach featured}}
		    <div class="featured-post item {{#if @first}}active{{/if}}">
		      <div class="lazyload featured-post__image" 
		      		 data-src="{{#if image}}{{image}}{{/if}}" 
		      		 style="{{#if image}}background-image: url({{image}}){{else}}background-color: #000;{{/if}}">
		      </div>
		      <div class="featured-post__image--overlay"></div>
		    	<div class="featured-post__content">
		    		<div class="container">
		    		  <h6 class="featured-post__tag animated fadeInDown">in {{tags limit="1" separator=""}}</h6>
		      		<h2 class="featured-post__title animated fadeInRight"><a href="{{url}}">{{title}}</a></h6>
							<div class="featured-post__info animated fadeInRight">
								<div class="featured-post__author">by {{author}}</div>
						    <div class="featured-post__date">
						    	<time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at}}</time>
						    </div>
						    <div class="featured-post__comments">
									<i class="fa fa-comments-o"></i>
									<a href="{{url absolute='true'}}#disqus_thread" class="comments comment-count">0</a>
								</div>
							</div>
							<button class="read-more animated fadeInUp">Read More</button>
		      	</div>
		      </div>
		    </div>
	 		{{/foreach}}
		  </div>

		  {{!-- Controls --}}
		  <div class="featured-posts__control-wrapper clearfix">
		  <a class="left carousel-control" href="#featured-posts__carousel" role="button" data-slide="prev">
		    <div class="carousel-control-prev">
		    	<i class="fa fa-angle-left"></i>
		    </div>
		  </a>
		  <a class="right carousel-control" href="#featured-posts__carousel" role="button" data-slide="next">
		  	<div class="carousel-control-next">
		    	<i class="fa fa-angle-right"></i>
		    </div>
		  </a>
		  </div>
		</div>
  </section>
{{/get}}

{{!-- The main content area on the homepage --}}
{{!-- <section class="timeline container">
	<div class="timeline-head text-center">Latest Posts</div>
  <ul class="timeline-list">
  	{{#foreach posts}}
    <li class="timeline-post animated {{#if}}fadeInLeft left{{else}}timeline-post--inverted fadeInRight right{{/if}}">
    	<div class="timeline-badge primary">
    		<a><i class="fa fa-dot-circle-o" rel="tooltip" title="{{date published_at timeago="true"}}" id=""></i></a>
    	</div>
    	<div class="timeline-card">
	      <div class="timeline-card__thumb">
	        <img src="{{image}}" class="img-responsive lazyload" alt="">
	        <div class="timeline-card--overlay">
	       	</div>
	      </div>
	      <div class="timeline-card__content">
					<h2 class="timeline-card__title"><a href="{{url}}">{{title}}</a></h2>
	        <div class="timeline-card__author">by <a href="#">{{author}}</a></div>
	        <div class="timeline-card__excerpt">{{excerpt words="20"}}&hellip;</div>
	        <div class="timeline-card__info">
		    		<time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at}}</time>
						<i class="fa fa-comments-o"></i>
						<a href="{{url absolute='true'}}#disqus_thread" class="comments comment-count">0</a>
	        </div>
	      </div>
	    </div>
    </li>
    {{/foreach}}
    <li class="clearfix"></li>
  </ul>
  <div class="timeline-foot text-center">
  	<button id="load-posts" class="btn btn-common uppercase">Load More</button>
  </div>
</section> --}}

{{!-- <section id="timeline">
	<h1>A Flexbox Timeline</h1>
	<p class="leader">All cards must be the same height and width for space calculations on large screens.</p>
	<div class="demo-card-wrapper">
	    {{#foreach posts}}
    <div class="demo-card">
      <div class="head">
        {{#if image}}<img class="img-responsive" src="{{image}}" alt="Graphic">{{/if}} 

        <h2>{{title}}</h2> 
      </div>
      <div class="body">      
        <p>{{excerpt words="20"}}&hellip;</p>
      </div>
    </div>
    {{/foreach}}
	</div>
</section> --}}


{{#get "posts" include="author,tags" filter="featured:false" as |latest| }}
<section class="latest-posts container">
	<div class="masonry masonry-columns-3">
	{{#foreach latest}}
		<div class="masonry-item">
			{{#if image}}
				<a class="masonry-post__image" href="{{url}}">
					<img src="{{image}}" class="lazyload img-responsive" alt="{{title}}">
				</a>
			{{/if}}
			<div class="masonry-post__content">
				<h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
				<p class="post-info">by {{author}} {{#if tags}}in {{tags limit=1}}{{/if}}</p>
				<p>{{excerpt words="20"}}&hellip;</p>
				<div class="tag-comment clearfix">
					<div class="text-center">
						<a href="{{url}}" class="read-more">Read More</a>
				  </div>
					<hr>
					{{#if tags}}<span class="pull-left">{{date}}</span>{{/if}}
					<span class="pull-right">
						<i class="fa fa-share-alt"></i>
						<i class="fa fa-comments-o"></i>
						<a href="{{url absolute='true'}}#disqus_thread" class="comments comment-count">0</a>
					</span>
				</div>
			</div>
		</div>
	{{/foreach}}
	</div>
	{{pagination}}
</section>
{{/get}}


{{!-- Email subscribe form at the main page --}}
{{> subscribe}}
