{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="{{post_class}}">
  <div class="post-header {{#if feature_image}}post-hero{{else}}post-without-image{{/if}}">
    {{!-- Page image --}}
    {{#if feature_image}}
      <div class="full-page-cover lazyload blur" data-src="{{image}}" 
           style="background-image: url({{image}})"></div>
    {{/if}}
  
    <div class="container">
      {{!-- Page tag and title --}}
      <div class="post-header__info">    
        <h6 class="post-header__tag animated fadeInDown">
          {{tags limit="5" separator=" "}}
        </h6>
        <h2 class="post-header__title animated fadeInRight">{{title}}</h2>
      </div>

      {{#if feature_image}}
        <div class="scroll-wrapper hidden-xs">
          <a class="scroll-down animated bounce" href="#content">
            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
          </a>
        </div>
      {{/if}}
  
    </div>
  </div>
  
  {{!-- Content --}}
  <div class="post-content container" id="content">
    <article>
      {{content}}
    </article>
  </div>

</div>

{{/post}}

{{!-- Email subscribe form at the main page --}}
{{> subscribe}}
