{{!< default}}

{{!-- Tag header --}}
{{#tag}}
  <section class="tag">
    {{#if image}}
      <div class="full-page-cover lazyload " data-src="{{image}}" style="background-image: url({{image}})"></div>
    {{/if}}
    <div class="container">
      <div class="tag__info">        
        <h2 class="tag__title">{{name}}</h2>
        {{#if description}}
          <p class="tag__description">{{description}}</p>
        {{/if}}

        <div class="tag-meta">
          <span class="tag-meta__stats">
            <i class="fa fa-signal" aria-hidden="true"></i>
            {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
          </span>
        </div>
      </div>

      <div class="scroll-wrapper hidden-xs">
        <a class="scroll-down animated bounce" href="#content">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </section>
{{/tag}}

{{!-- The main content/post by the author --}}
<section class="latest-posts container" id="content">
	<div class="masonry clearfix" id="grid" data-columns>
	{{#foreach posts}}
		<div class="masonry-item">
			{{#if image}}
				<a class="masonry-post__image" href="{{url}}">
					<img src="{{image}}" class="lazyload img-responsive" alt="{{title}}">
				</a>
			{{/if}}
			<div class="masonry-post__content">
				<h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
				<h6 class="post-author">by {{author}}</h6>
				<p class="post-tags">{{#if tags}}#{{tags limit=5 separator=" #"}}{{/if}}</p>
				<p>{{excerpt words="20"}}&hellip;</p>
				<div class="tag-comment clearfix">
					<div class="text-center">
						<a href="{{url}}" class="read-more">Read More</a>
				  </div>
					<hr>
					<span class="pull-left">{{date}}</span>
					<span class="pull-right">
						<div class="masonry-post-share"><i class="fa fa-share-alt"></i></div>					
						<div class="masonry-post-share__social pull-left animated fadeIn">
							<a class="facebook" href=""><i class="fa fa-facebook-official"></i></a>
							<a class="twitter" href=""><i class="fa fa-twitter"></i></a>
							<a class="reddit" href=""><i class="fa fa-reddit"></i></a>
						</div>
						<div class="masonry-post-comment-count">
							<i class="fa fa-comments-o"></i>
							<span class="disqus-comment-count" data-disqus-url="{{url absolute='true'}}">0</span>
						</div>
					</span>
				</div>
			</div>
		</div>
	{{/foreach}}
	</div>
	<div class="masonry-foot text-center">
  	<button id="load-posts" onclick="loadTagPosts('{{tag.slug}}');" class="uppercase load-more-posts">Load More</button>
  </div>
</section>